* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: block;
  margin: auto;
  max-width: 550px;
  background: #ddd;
  padding: 1.75rem;
  padding-bottom: 1px;
  margin-top: 6px;
  border-radius: 10px;
}
.display {
  display: block;
  margin: 10px auto;
  padding: 5rem;
  width: 500px;
  padding: 20px 10px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 2rem;
  text-align: right;
}
.btn {
  padding: 2rem 2rem;
  transition: all 0.1s ease-in-out;
  position: relative;
  border-radius: 100%;
  border: none;
  background: transparent;
  font-size: 1.5rem;
}
.buttons {
  max-width: 500px;
  display: grid;
  grid-template-areas:
    "btn-clear btn-mod btn-Delete btn-div"
    "btn-7 btn-8 btn-9 btn-mul"
    "btn-4 btn-5 btn-6 btn-sub"
    "btn-1 btn-2 btn-3 btn-add"
    "btn-Double-Zero btn-0 btn-dot btn-equal";
  grid-gap: 1rem;
  margin: 50px auto;
}
.btn-clear {
  grid-area: btn-clear;
}
.btn-mod {
  grid-area: btn-mod;
}
.btn-Delete {
  grid-area: btn-Delete;
}
.btn-div {
  grid-area: btn-div;
  background-color: aliceblue;
}
.btn-7 {
  grid-area: btn-7;
}
.btn-8 {
  grid-area: btn-8;
}
.btn-9 {
  grid-area: btn-9;
}
.btn-mul {
  grid-area: btn-mul;
  background-color: aliceblue;
}
.btn-4 {
  grid-area: btn-4;
}
.btn-5 {
  grid-area: btn-5;
}
.btn-6 {
  grid-area: btn-6;
}
.btn-sub {
  grid-area: btn-sub;
  background-color: aliceblue;
}
.btn-1 {
  grid-area: btn-1;
}
.btn-2 {
  grid-area: btn-2;
}
.btn-3 {
  grid-area: btn-3;
}
.btn-add {
  grid-area: btn-add;
  background-color: aliceblue;
}
.btn-Double-Zero {
  grid-area: btn-Double-Zero;
}
.btn-0 {
  grid-area: btn-0;
}
.btn-dot {
  grid-area: btn-dot;
}
.btn-equal {
  grid-area: btn-equal;
  background-color: goldenrod;
}
.card {
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 5px;
  background: white;
}
